@using DOANPM_TH.Models.ViewModel
@model CartItemViewModel
@{
    ViewData["Title"] = "Các sản phẩm";
    Layout = "~/Views/Shared/Shopping.cshtml";
}
<h2>ShowToCart</h2>
@if (Model.CartItems.Count > 0)
{
    decimal total = 0;
    int stt = 1;
    <table class="table">

        <tr>
            <th> Mã SP</th>

            <th> Tên SP</th>

            <th> Ảnh bìa</th>

            <th> Price</th>

            <th> Số lượng</th>

            <th> Thành tiền</th>
        </tr>


        @foreach (var item in Model.CartItems)
        {
            var thanhtien = item.Quantity * item.Price;
            total += thanhtien;
            <tr class="font-italic">
                <td> @item.LaptopId</td>

                <td> @item.LaptopName</td>

                <td> <img src="~/Content//HinhAnhSP/@item.Image" width="50" height="50" /></td>

                <td>  @String.Format("{0:0,0}", item.Price) VNĐ</td>

                <td>
                    <input type="number" value="@item.Quantity"/>
                    
                </td>

                <td>   @String.Format("{0:0,0}", item.Total) VNĐ</td>
               
                <td>
                    <button class="btn btn-success updatecartitem"
                            data-productId="@item.LaptopId"> Cập nhật
                    </button>
                    <a asp-route="removecart" asp-route-productid="@item.LaptopId" onclick="return confirm('Bạn có chắc muốn xóa sản phẩm này?');"
                       class="btn btn-danger">Xóa</a>
                </td>
            </tr>
        }
        <tr>
            <td colspan="4" class="text-right">Tổng tiền</td>
            <td>@(total.ToString("n0"))</td>
            <td></td>
        </tr>

        <tr>
            <td colspan="6" style="text-align:right">

                @Html.ActionLink("Chỉnh sửa giỏ hàng", "SuaGioHang")
            </td>
            <td colspan="6" style="text-align:right;color:blue">
                @using (Html.BeginForm("ThanhToanDonHang", "GioHang", new { @class = "" }))
                {
                    <input type="submit" value="Đặt hàng" class="btn-danger" />
                }
            </td>
        </tr>
    </table>
    <a href="@Url.Action("Index","HomeCustomer")">=====Continue to Shopping</a>

    @*Css giỏ hàng*@
    <style type="text/css">
        .divGioHang {
            border: 2px solid #EEEEEE;
            margin-left: 10%;
            font-size: large
        }

            .divGioHang td {
                padding: 10px;
                border: 2px solid #EEEEEE;
                text-align: center
            }

            .divGioHang th {
                text-align: center
            }
    </style>
}

else
{
    <h4> Cart empty </h4>
}