@*@{
	var laptopDetails = ViewBag.laptopDetails;
}

<div class="container">
	<div class="ex-info-container">
		<h2>LaptopDetails</h2>

		<h4>Information</h4>

		<div class="ex-info-main">
			<div class="ex-info-box">
				<span class="ex-info-title">ID</span>
				<span class="ex-info-desc">@laptopDetails.LaptopsID</span>
			</div>

			<div class="ex-info-box">
				<span class="ex-info-title">Name</span>
				<span class="ex-info-desc">@laptopDetails.LaptopName</span>
			</div>

			<div class="ex-info-box">
				<span class="ex-info-title">Brand</span>
				<span class="ex-info-desc">@laptopDetails.Brand</span>
			</div>

			<div class="ex-info-box">
				<span class="ex-info-title">Màn hình</span>
				<span class="ex-info-desc">@laptopDetails.ScreenSize</span>
			</div>

			<div class="ex-info-box">
				<span class="ex-info-title">Cấu hình</span>
				<span class="ex-info-desc">@laptopDetails.Processor</span>
			</div>

			<div class="ex-info-box">
				<span class="ex-info-title">Ram</span>
				<span class="ex-info-desc">@laptopDetails.Ram</span>
			</div>

			<div class="ex-info-box">
				<span class="ex-info-title">Giá</span>
				<span class="ex-info-desc">@laptopDetails.Price</span>
			</div>

			<div class="ex-info-box">
				<span class="ex-info-title">Image</span>
				<img src="~/image/aothun.jpg" style="width:150px; height:150px" />
			</div>
		</div>

		<div class="ex-info-container-btn">
			<a class="ex-info-btn" asp-controller="Customer" asp-action="Index">Come back</a>
		</div>
	</div>
</div>*@