@{
    Layout = "~/Views/Shared/Shopping.cshtml";
	var laptopDetails = ViewBag.laptopDetails;
}

<div class="container">
	<div class="ex-info-container">
        <section class="bg-light">
            <div class="container pb-5">
                <div class="row">
                    <div class="col-lg-5 mt-5">
                        <div class="card mb-3">
                            <img src="~/Content//HinhAnhSP/@laptopDetails.Image" style="height:460px" />
                           
                        </div>
                        <div class="row">
                            <!--Start Controls-->
                           
                            <!--End Controls-->
                            <!--Start Carousel Wrapper-->
                            <div id="multi-item-example" class="col-10 carousel slide carousel-multi-item" data-bs-ride="carousel">
                                <!--Start Slides-->
                                <div class="carousel-inner product-links-wap" role="listbox">

                                    <!--First slide-->
                                    <div class="carousel-item">

                                    </div>
                                    <!--/.First slide-->
                                    <!--Second slide-->
                                    <div class="carousel-item active">
                                        <div class="row">
                                            
                                        </div>
                                    </div>
                                    <!--/.Second slide-->
                                    <!--Third slide-->
                                    <div class="carousel-item">
                                        <div class="row">
                                           
                                        </div>
                                    </div>
                                    <!--/.Third slide-->
                                </div>
                                <!--End Slides-->
                            </div>

                        </div>
                    </div>
                    <!-- col end -->
                    <div class="col-lg-7 mt-5">
                        <div class="card">
                            <div class="card-body">
                                <h1 class="h2">@laptopDetails.LaptopName</h1>
                                <p class="h3 py-2">Giá:@laptopDetails.Price</p>
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <h6>Brand:</h6>
                                    </li>
                                    <li class="list-inline-item">
                                        <p class="text-muted"><strong>@laptopDetails.Brand</strong></p>
                                    </li>
                                </ul>

                                <h6>Màn Hình:</h6>
                                <p>@laptopDetails.ScreenSize</p>
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <h6>Ram :</h6>
                                    </li>
                                    <li class="list-inline-item">
                                        <p class="text-muted"><strong>@laptopDetails.Ram</strong></p>
                                    </li>
                                </ul>

                                <h6>Cấu hình:</h6>
                                <ul class="list-unstyled pb-3">
                                    <li>@laptopDetails.Processor</li>   
                                </ul>

                                <input type="hidden" name="ProductId" value="@laptopDetails.LaptopID" />

                                <div class="row pb-3">
                                    <div class="col d-grid">
                                        <button type="submit" class="btn btn-success btn-lg" name="submit" value="buy">Buy</button>
                                    </div>
                                  
                                    <div class="col d-grid">
                                        <a class="btn btn-success btn-lg" asp-action="AddToCartToProductDetals" asp-controller="CartCustomer" asp-route-productId="@laptopDetails.LaptopID">Add To Cart</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>	
</div>