@using DOANPM_TH.Models.ClassModel
@{
	Layout = "~/Views/Shared/_AdminLayot.cshtml";
	var listLaptop = ViewBag.listLaptop;
}

<!-- Content Header (Page header) -->
<section class="content-header">
	<div class="container-fluid">
		<div class="row mb-2">
			<div class="col-sm-6">
				<h1>Laptop</h1>
				<br />
				<a asp-controller="Admin" asp-action="Create" class="btn btn-success">
					Thêm sản phẩm
				</a>
			</div>
			<div class="col-sm-6">
				<ol class="breadcrumb float-sm-right">
					<li class="breadcrumb-item"><a asp-controller="Example" asp-action="ExViewBag">Home</a></li>
					<li class="breadcrumb-item active">Laptops</li>
				</ol>

				<form asp-controller="Admin" asp-action="Index" method="get">
					<div class="input-group" style="padding-top: 24px">
						<input type="search" class="form-control form-control-lg" placeholder="Tìm kiếm sản phẩm" name="searchSLaptop">
						<div class="input-group-append">
							<button type="submit" class="btn btn-lg btn-default">
								<i class="fa fa-search"></i>
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

	<!-- Default box -->
	<div class="card">
		<div class="card-header">
			<h3 class="card-title">Laptop</h3>

			<div class="card-tools">
				<button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
					<i class="fas fa-minus"></i>
				</button>
			</div>
		</div>

		<div class="card-body p-0">
			<table class="table table-striped projects">
				<thead>
					<tr>
						<th style="width: 1%">
							ID
						</th>

						<th style="width: 19%">
							Name
						</th>

						<th style="width: 15%">
							Brand
						</th>

						<th style="width: 15%">
							Price
						</th>

						<th style="width: 20%">
							Image
						</th>

						<th style="width: 30%">
							Action
						</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in listLaptop)
					{
						<tr>
							<td>
								@item.LaptopID
							</td>

							<td>
								@item.LaptopName
							</td>

							<td>
								@item.Brand
							</td>

							<td>
								@item.Price
							</td>

							<td>
								<img src="~/Content/HinhAnhSP/@item.Image" alt="" style="height: 100px; width: 100px" />
							</td>

							<td class="project-actions text-left">
								<a asp-controller="Admin" asp-action="laptopDetails" asp-route-laptopId="@item.LaptopID" class="btn btn-primary btn-sm" style="width: 72px">
									<i class="fas fa-folder">
									</i>
									View
								</a>
								<a asp-controller="Admin" asp-action="Edit" asp-route-laptopId="@item.LaptopID" class="btn btn-info btn-sm" style="width: 72px">
									<i class="fas fa-pencil-alt">
									</i>
									Edit
								</a>
								<a asp-controller="Admin" asp-action="Delete" asp-route-laptopId="@item.LaptopID" class="btn btn-danger btn-sm" style="width: 72px">
									<i class="fas fa-trash">
									</i>
									Delete
								</a>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
		<!-- /.card-body -->
	</div>
	<!-- /.card -->

</section>
<!-- /.content -->
